* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main_container {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 80%;
    margin-left: 100px;
    height: auto;
}
h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: xx-large;
    color: gray;
}

.upper_container {
    display: flex;
    width: 100%;
    height: 180px;
    justify-content: center;
    text-align: center;
}

.Ablock {
    font-family: 'Poppins';
    font-size: 70px;
    transform:skew(-17deg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: gray;
    width: 33.3%;
    height: 100%;
    border: 1px green;
}

.Bblock {
    transform:skew(-17deg);
    font-family: 'ABeeZee';
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(59, 57, 57);
    width: 33.3%;
    height: 100%;
    border: 1px solid green;

}

.Cblock {
    transform:skew(-17deg);
    font-family: 'ABeeZee';
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(55, 44, 214);
    background-color: rgb(13, 15, 13);
    width: 33.3%;
    height: 100%;
    border: 1px green;
}
.p1{
    margin:35px;
    font-size : 25px;
}

.p2{
    font-family: 'Times New Roman', Times, serif;
    margin:15px;
    font-size : 25px;
    
}
.p3{
    font-family:sans-serif;
    margin:15px;
    font-size : 25px;
    
}
.p4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:15px;
    font-size : 25px;
    
}
footer{
    color: gray;
margin-top: 30px;
font-size: 20px;
}